<!DOCTYPE html>
<html lang='ja'>

<head>
    <!-- vuetifyのstylesheet-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <!-- メタデータ -->
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Trans Menu</title>


    <!-- ------------------------------- -->
    <!-- css                             -->
    <!-- ------------------------------- -->

    <style>
        /* Helper classes */
        .basil {
            background-color: #FFFBE6 !important;
        }

        .basil--text {
            color: #356859 !important;
        }


        .StoreContainer {
            display: flex;
        }

        .StoreContainer div {
            padding: 3px;
        }
    </style>

</head>





<!-- ------------------------------- -->
<!-- HTML                            -->
<!-- ------------------------------- -->



<body>
    <div id="app">
        <!-- <v-app id="inspire">
            <v-app id="inspire">

                ナビゲーションドロワー
                <v-navigation-drawer v-model="drawer" app right>
                    <v-list dense>
                        <v-list-item href="index.html">
                            <v-list-item-action>
                                <v-icon>mdi-home</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>トップ</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item href="StoreCreate.html">
                            <v-list-item-action>
                                <v-icon>mdi-format-list-bulleted</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>メニュー作成</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-action>
                                <v-icon>mdi-email</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>お問い合わせ</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-navigation-drawer>

                アップバー
                <v-app-bar app color="cyan" dark>
                    <v-toolbar-title class="headline">Trans Menu</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                </v-app-bar> -->

        <template>
            <v-card color="basil">
                <v-card-title class="text-center justify-center py-6">
                    <h1 class="font-weight-bold display-3 basil--text">{{storeName}}</h1>
                </v-card-title>

                <v-tabs v-model="tab" background-color="#FFFBE6" color="basil" grow>
                    <v-tab>
                        日本語
                    </v-tab>
                    <v-tab>
                        English
                    </v-tab>
                    <v-tab>
                        中文
                    </v-tab>
                    <v-tab>
                        한국어
                    </v-tab>
                </v-tabs>

                <v-tabs-items v-model="tab">
                    <v-tab-item color="basil" flat>
                        <v-content style="background-color:#FFFBE6;">
                            <!-- 店舗情報 -->
                            <v-container class="StoreContainer">
                                <div style="width:45vw">
                                    <img style="width:45vw;" class="" alt='' v-bind:src=storePicPath>
                                </div>
                                <div>
                                    <p style="font-size:13px; margin:0 15px;">{{storeComment}}</p>
                                </div>
                            </v-container>
                            <!-- <h1 class="text-center">{{storeName}}</h1> -->

                            <!-- 商品情報 -->
                            <template>
                                <v-container class="grey lighten-5">
                                    <h4>メニュー</h4>
                                    <v-row no-gutters>
                                        <v-col>
                                            <v-card style="height:100%;" class="ma-3 pa-5" outlined tile>
                                                <img style="width:100%;" src='' alt='' v-bind:src='itemPicPath1'>
                                                <div>{{itemName1}} -- {{itemPrice1}}円</div>
                                            </v-card>
                                        </v-col>

                                        <v-col>
                                            <v-card style="height:100%;" class="ma-3 pa-5" outlined tile>
                                                <img style="width:100%;" src='' alt='' v-bind:src='itemPicPath2'>
                                                <div>{{itemName2}} -- {{itemPrice2}}円</div>
                                            </v-card>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col>
                                            <v-card style="height:100%;" class="ma-3 pa-5" outlined tile>
                                                <img style="width:100%;" src='' alt='' v-bind:src='itemPicPath3'>
                                                <div>{{itemName3}} -- {{itemPrice3}}円</div>
                                            </v-card>
                                        </v-col>
                                        <v-col>
                                            <v-card style="height:100%;" class="ma-3 pa-5" outlined tile>
                                                <img style="width:100%;" src='' alt='' v-bind:src='itemPicPath4'>
                                                <div>{{itemName4}} -- {{itemPrice4}}円</div>
                                            </v-card>
                                        </v-col>
                                    </v-row>


                                </v-container>
                            </template>
                        </v-content>
                    </v-tab-item>


                    <v-tab-item color="basil" flat>
                        <v-content style="background-color:#FFFBE6;">いいい<br><br><br><br><br><br><br><br><br><br><br>
                        </v-content>
                    </v-tab-item>


                    <v-tab-item color="basil" flat>
                        <v-content style="background-color:#FFFBE6;">ううう<br><br><br><br><br><br><br><br><br><br>
                        </v-content>
                    </v-tab-item>


                    <v-tab-item color="basil" flat>
                        <v-content style="background-color:#FFFBE6;">えええ<br><br><br><br><br><br><br><br><br><br>
                        </v-content>
                    </v-tab-item>


                </v-tabs-items>
            </v-card>
        </template>


        <v-content>

            <!-- 店舗情報 -->
            <!-- <img style="width:90%;" class="ma-5" alt='' v-bind:src=storePicPath>
            <h1 class="text-center">{{storeName}}</h1> -->

            <!-- 商品情報 -->
            <!-- <template>
                <v-container class="grey lighten-5">
                    <v-row no-gutters>
                        <v-col>
                            <v-card style="height:100%;" class="ma-1 pa-1" outlined tile>
                                <img style="width:100%;" src='' alt='' v-bind:src='itemPicPath1'>
                                <div class="mt-auto">{{itemName1}} -- {{itemPrice1}}円</div>
                            </v-card>
                        </v-col>

                        <v-col>
                            <v-card style="height:100%;" class="ma-1 pa-1" outlined tile>
                                <img style="width:100%;" src='' alt='' v-bind:src='itemPicPath2'>
                                <div class="mt-auto">{{itemName2}} -- {{itemPrice2}}円</div>
                            </v-card>
                        </v-col>
                    </v-row>
                    <v-row no-gutters>
                        <v-col>
                            <v-card style="height:100%;" class="ma-1 pa-1" outlined tile>
                                <img style="width:100%;" src='' alt='' v-bind:src='itemPicPath3'>
                                <div class="mt-auto">{{itemName3}} -- {{itemPrice3}}円</div>
                            </v-card>
                        </v-col>
                        <v-col>
                            <v-card style="height:100%;" class="ma-1 pa-1" outlined tile>
                                <img style="width:100%;" src='' alt='' v-bind:src='itemPicPath4'>
                                <div class="mt-auto">{{itemName4}} -- {{itemPrice4}}円</div>
                            </v-card>
                        </v-col>
                    </v-row>


                </v-container>
            </template>

        </v-content> -->

            <!-- フッター -->
            <!-- <v-footer color="cyan" app>
                    <v-spacer></v-spacer>
                    <span class="white--text">&copy; 2020 Trans Menu</span>
                </v-footer>


            </v-app>
        </v-app> -->
    </div>

    <!-- ------------------------------- -->
    <!-- 設定ファイル                      -->
    <!-- ------------------------------- -->

    <!-- <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script> -->
    <!-- <script src='js/index.js'></script> -->



    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>




    <!-- ------------------------------- -->
    <!-- firebase                        -->
    <!-- ------------------------------- -->


    <!-- Firebaseへ接続 -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src=" https://www.gstatic.com/firebasejs/7.15.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-storage.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
                 https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>



    <script>

        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAA26apLP_cf-_LP0pbZmk9UoQkPGPtKKc",
            authDomain: "transmenu-98803.firebaseapp.com",
            databaseURL: "https://transmenu-98803.firebaseio.com",
            projectId: "transmenu-98803",
            storageBucket: "transmenu-98803.appspot.com",
            messagingSenderId: "1003433484012",
            appId: "1:1003433484012:web:6a6d332c5e1e7fa6dfcfc9",
            measurementId: "G-KZBKDT9WYL"
        };

        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        // Firebaseと接続できてるかチェック
        console.log(firebase);

        // FirestoreのstoresコレクションをstoreDBオブジェクトとして定義
        var storeDB = firebase.firestore().collection('stores');
        // FirestoreのitemsコレクションをitemDBオブジェクトとして定義
        var itemDB = firebase.firestore().collection('items');




        //   javascript, Vue.js

        //選択された店舗名を代入する。localStorageとかで渡すか？
        const selectedStore = "ジーズ食堂";

        //storeNameで指定して取得
        storeDB.where("storeName", "==", selectedStore)
            .get()
            .then(function (querySnapshot) {
                querySnapshot.forEach(function (doc) {
                    // doc.data() is never undefined for query doc snapshots
                    console.log(doc.id);
                    console.log(doc.data());


                    //vueインスタンス
                    new Vue({
                        el: '#app',
                        vuetify: new Vuetify(),
                        name: 'LayoutsDemosBaselineFlipped',
                        props: {
                            source: String,
                        },

                        data: function () {
                            return {
                                tab: null,
                                //店舗情報
                                storeName: doc.data().storeName,
                                storePicPath: doc.data().storePicPath,
                                storeColor: '',
                                storeComment: '安くて早くてうまいです！',

                                //メニュー情報
                                itemName1: doc.data().iteminfo1.itemName1,
                                itemPrice1: doc.data().iteminfo1.itemPrice1,
                                itemPicPath1: doc.data().iteminfo1.itemPicPath1,
                                itemName2: doc.data().iteminfo2.itemName2,
                                itemPrice2: doc.data().iteminfo2.itemPrice2,
                                itemPicPath2: doc.data().iteminfo2.itemPicPath2,
                                itemName3: doc.data().iteminfo3.itemName3,
                                itemPrice3: doc.data().iteminfo3.itemPrice3,
                                itemPicPath3: doc.data().iteminfo3.itemPicPath3,
                                itemName4: doc.data().iteminfo4.itemName4,
                                itemPrice4: doc.data().iteminfo4.itemPrice4,
                                itemPicPath4: doc.data().iteminfo4.itemPicPath4,
                            };
                        },

                        methods: {
                            //'StoreCreate.html'に遷移
                            moveToStoreCreate: function () {
                                location.href = 'StoreCreate.html';
                            },
                            //'StoreList.html'に遷移
                            moveToStoreList: function () {
                                location.href = 'https://www.google.com/'
                            }
                        }


                    });

                });
            })
            .catch(function (error) {
                console.log("Error getting documents: ", error);
            });



    </script>


</body>

</html>