<!DOCTYPE html>
<html lang='ja'>

<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Trans Menu</title>
</head>

<body>
    <div id='app'>
        <h1>店舗登録</h1>
        <p>にゃーん</p>
        <form action=''>
            <div>
                <label for='store-name'>店舗名:</label>
                <input type='text' id='store-name' v-model='storeName' placeholder='店舗名を入力'>
            </div>
            <div>
                <label for='store-color'>店舗のイメージカラー:</label>
                <input type='color' id='store-color' v-model='storeColor'>
            </div>
            <div>
                <label for='storePic'>店舗画像:</label>
                <input ref='upfile' type='file' id='storePic' v-on:change='previewStorePic'>
            </div>
        </form>
        <div>
            <p>プレビュー</p>
            <p>{{storeName}}</p>
            <img v-bind:src='storePicPath' alt='店舗画像'>

        </div>


        <div>
            <button v-on:click='pushStoreToDB' id="pushStoreToDB">店舗情報の登録</button>
        </div>
        <div>
            <button v-on:click='moveToMenuCreate'>商品登録へすすむ</button>
        </div>
        <div>
            <button v-on:click='downloadImgFromDB'>storageから画像を読み込む</button>
        </div>

        <div>
            <input type='file' id='photo'>
            <img src='' alt='' id='image'>
            <button onclick="uploadImage()">upload Image</button>
        </div>


    </div>

    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <script src='js/StoreCreate.js'></script>
    <!-- Firebaseへ接続 -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-storage.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
             https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAA26apLP_cf-_LP0pbZmk9UoQkPGPtKKc",
            authDomain: "transmenu-98803.firebaseapp.com",
            databaseURL: "https://transmenu-98803.firebaseio.com",
            projectId: "transmenu-98803",
            storageBucket: "transmenu-98803.appspot.com",
            messagingSenderId: "1003433484012",
            appId: "1:1003433484012:web:6a6d332c5e1e7fa6dfcfc9",
            measurementId: "G-KZBKDT9WYL"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        // Firebaseと接続できてるかチェック
        // console.log(firebase);

    </script>

</body>

</html>

<!-- 
memo
・次はfirestoreへの接続をやる！！
・カラーは省くかも
・できればプレビューのところで、作成ずみの店舗イメージが見せられるといいなー。iPhoneのベゼル作って、それぞれをそれっぽく配置して。
-->